Repository NVIDIA/cuda-python, pull requests merged in 2024-10, with the labels that each got.

#87 Introducing `cuda.core`: pythonic access to CUDA core functionalities
  cuda_core/MANIFEST.in
  cuda_core/README.md
  cuda_core/cuda/core/__init__.pxd
  cuda_core/cuda/core/__init__.py
  cuda_core/cuda/core/_context.py
  cuda_core/cuda/core/_device.py
  cuda_core/cuda/core/_dlpack.pxd
  cuda_core/cuda/core/_dlpack.pyx
  cuda_core/cuda/core/_event.py
  cuda_core/cuda/core/_kernel_arg_handler.pyx
  cuda_core/cuda/core/_launcher.py
  cuda_core/cuda/core/_memory.py
  cuda_core/cuda/core/_memoryview.pyx
  cuda_core/cuda/core/_module.py
  cuda_core/cuda/core/_program.py
  cuda_core/cuda/core/_stream.py
  cuda_core/cuda/core/_utils.py
  cuda_core/cuda/core/_version.py
  cuda_core/cuda/core/dlpack.h
  cuda_core/cuda/core/utils.py
  cuda_core/examples/saxpy.py
  cuda_core/examples/vector_add.py
  cuda_core/pyproject.toml
  cuda_core/setup.py
Labels: P0, feature

#171 Move everything to `cuda.core.experimental`
  cuda_core/cuda/core/__init__.py
  cuda_core/cuda/core/experimental/__init__.pxd
  cuda_core/cuda/core/experimental/__init__.py
  cuda_core/cuda/core/experimental/_context.py
  cuda_core/cuda/core/experimental/_device.py
  cuda_core/cuda/core/experimental/_dlpack.pxd
  cuda_core/cuda/core/experimental/_dlpack.pyx
  cuda_core/cuda/core/experimental/_event.py
  cuda_core/cuda/core/experimental/_kernel_arg_handler.pyx
  cuda_core/cuda/core/experimental/_launcher.py
  cuda_core/cuda/core/experimental/_memory.py
  cuda_core/cuda/core/experimental/_memoryview.pyx
  cuda_core/cuda/core/experimental/_module.py
  cuda_core/cuda/core/experimental/_program.py
  cuda_core/cuda/core/experimental/_stream.py
  cuda_core/cuda/core/experimental/_utils.py
  cuda_core/cuda/core/experimental/dlpack.h
  cuda_core/cuda/core/experimental/utils.py
  cuda_core/docs/source/api.rst
  cuda_core/examples/saxpy.py
  cuda_core/examples/vector_add.py
  cuda_core/pyproject.toml
  cuda_core/setup.py
Labels: P0, feature, cuda.core

#172 Bump cuda.core version to 0.1.0 to prepare for beta 1
  cuda_core/cuda/core/_version.py
  cuda_core/docs/source/release.md
  cuda_core/docs/source/release/0.1.0-notes.md
  cuda_core/docs/versions.json
Labels: P0, packaging, cuda.core

#173 Fix NVRTC error handling
  cuda_core/cuda/core/experimental/_program.py
  cuda_core/cuda/core/experimental/_utils.py
Labels: bug, P0, cuda.core

#157 Add Python bindings for nvJitLink
  cuda_bindings/cuda/bindings/_internal/__init__.py
  cuda_bindings/cuda/bindings/_internal/nvjitlink.pxd
  cuda_bindings/cuda/bindings/_internal/nvjitlink_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvjitlink_windows.pyx
  cuda_bindings/cuda/bindings/_internal/utils.pxd
  cuda_bindings/cuda/bindings/_internal/utils.pyx
  cuda_bindings/cuda/bindings/cynvjitlink.pxd
  cuda_bindings/cuda/bindings/cynvjitlink.pyx
  cuda_bindings/cuda/bindings/nvjitlink.pxd
  cuda_bindings/cuda/bindings/nvjitlink.pyx
  cuda_bindings/setup.py
  cuda_bindings/tests/test_nvjitlink.py
Labels: P0, feature, cuda.bindings

#191 Make `cuda-core` (tentatively) depend on `cuda-python`
  cuda_core/pyproject.toml
Labels: P1, packaging, cuda.core

#188 Support JIT compilation for CUDA driver & bindings 11.x
  cuda_core/cuda/core/experimental/_launcher.py
  cuda_core/cuda/core/experimental/_module.py
Labels: enhancement, P0, cuda.core
