Repository NVIDIA/cuda-python, pull requests merged in 2024-12, with the labels that each got.

#246 Systematically replace `__del__` with `weakref.finalize()`
  cuda_core/cuda/core/experimental/_event.py
  cuda_core/cuda/core/experimental/_kernel_arg_handler.pyx
  cuda_core/cuda/core/experimental/_launcher.py
  cuda_core/cuda/core/experimental/_memory.py
  cuda_core/cuda/core/experimental/_module.py
  cuda_core/cuda/core/experimental/_program.py
  cuda_core/cuda/core/experimental/_stream.py
Labels: enhancement, P0, cuda.core

#247 Add docs, tests, and samples for `StridedMemoryView`/`@args_viewable_as_strided_memory`
  .gitattributes
  cuda_core/cuda/core/experimental/__init__.py
  cuda_core/cuda/core/experimental/_memoryview.pyx
  cuda_core/cuda/core/experimental/utils.py
  cuda_core/docs/source/api.rst
  cuda_core/docs/source/conf.py
  cuda_core/docs/source/release.md
  cuda_core/docs/source/release/0.1.1-notes.md
  cuda_core/docs/versions.json
  cuda_core/examples/strided_memory_view.py
  cuda_core/tests/conftest.py
  cuda_core/tests/test_utils.py
Labels: documentation, P0, test, cuda.core

#263 Convert line endings from CRLF to LF
  .gitattributes
  .pre-commit-config.yaml
  cuda_bindings/benchmarks/test_launch_latency.py
  cuda_bindings/tests/test_nvjitlink.py
  cuda_core/tests/example_tests/test_basic_examples.py
  cuda_core/tests/example_tests/utils.py
  cuda_core/tests/test_device.py
  cuda_core/tests/test_event.py
  cuda_core/tests/test_launcher.py
  cuda_core/tests/test_memory.py
  cuda_core/tests/test_module.py
  cuda_core/tests/test_program.py
  cuda_core/tests/test_stream.py
Labels: support, P0

#266 Some CI tweaks
  .github/copy-pr-bot.yaml
  .github/workflows/gh-build-and-test.yml
Labels: P0, CI/CD

#267 Full CI support for public builds + switch to use cibuildwheel
  .github/actions/build/action.yml
  .github/actions/setup/action.yml
  .github/workflows/ci-gh.yml
  .github/workflows/gh-build-and-test.yml
  .github/workflows/gh-build.yml
Labels: P0, CI/CD, cuda.bindings, cuda.core

#257 Add fallback memory resource for TCC devices
  cuda_core/cuda/core/experimental/_device.py
  cuda_core/cuda/core/experimental/_memory.py
  cuda_core/docs/source/release/0.1.1-notes.md
Labels: bug, P0, cuda.core

#229 Add the cuda.core.experimental.Linker class
  cuda_core/cuda/core/experimental/__init__.py
  cuda_core/cuda/core/experimental/_linker.py
  cuda_core/docs/source/api.rst
  cuda_core/docs/source/release/0.1.1-notes.md
  cuda_core/tests/test_linker.py
Labels: P0, feature, cuda.core

#124 Add support for CI testing
  .github/actions/setup/action.yml
  .github/actions/test/action.yml
  .github/workflows/ci-gh.yml
  .github/workflows/gh-build-and-test.yml
  .github/workflows/gh-build.yml
  continuous_integration/environment.yml
  continuous_integration/scripts/build
  continuous_integration/scripts/conda-utils
  continuous_integration/scripts/entrypoint
  continuous_integration/scripts/generate-environment
  continuous_integration/scripts/make-conda-env
  continuous_integration/scripts/setup-utils
  cuda_core/tests/conftest.py
  cuda_core/tests/example_tests/utils.py
  cuda_core/tests/test_program.py
Labels: P0, CI/CD, test, cuda.bindings, cuda.core

#272 Add py313 builds
  .github/workflows/ci-gh.yml
Labels: P0, CI/CD, cuda.bindings, cuda.core

#269 Lazy load code modules
  cuda_core/cuda/core/experimental/_module.py
  cuda_core/tests/conftest.py
  cuda_core/tests/test_module.py
  cuda_core/tests/test_program.py
Labels: enhancement, P1, cuda.core

#290 Bump `cuda.core` version to v0.1.1
  cuda_core/cuda/core/_version.py
Labels: P0, cuda.core

#289 Add GPU runner for linux-aarch64
  .github/actions/test/action.yml
  .github/workflows/gh-build-and-test.yml
Labels: P0, CI/CD

#261 Add `cluster` to `LaunchConfig` to support thread block clusters on Hopper
  cuda_core/cuda/core/experimental/_launcher.py
  cuda_core/docs/source/release/0.1.1-notes.md
  cuda_core/examples/thread_block_cluster.py
  cuda_core/tests/example_tests/utils.py
Labels: enhancement, P1, cuda.core

#258 Make the link to different object types explicit for the docs
  cuda_core/cuda/core/experimental/_device.py
  cuda_core/cuda/core/experimental/_event.py
  cuda_core/cuda/core/experimental/_launcher.py
  cuda_core/cuda/core/experimental/_memory.py
  cuda_core/cuda/core/experimental/_module.py
  cuda_core/cuda/core/experimental/_program.py
  cuda_core/cuda/core/experimental/_stream.py
Labels: documentation, P2, cuda.core

#298 Add an doc page for interoperatibility
  cuda_core/docs/source/index.rst
  cuda_core/docs/source/interoperability.rst
Labels: documentation, P0, cuda.core

#296 Prepare for wheel release + populate PyPI page information
  .github/actions/build/action.yml
  cuda_core/DESCRIPTION.rst
  cuda_core/README.md
  cuda_core/docs/source/install.md
  cuda_core/docs/source/release/0.1.1-notes.md
  cuda_core/pyproject.toml
Labels: P0, packaging, cuda.core

#292 Fix `StridedMemoryView` by deferring the check for whether a capsule is versioned
  cuda_core/cuda/core/experimental/_memoryview.pyx
Labels: bug, P0, cuda.core

#305 Fix test_is_done without a sync
  cuda_core/tests/test_event.py
Labels: bug, cuda.core

#307 Remove versioneer to instead manually bump version
  cuda_bindings/cuda/bindings/__init__.py
  cuda_bindings/cuda/bindings/_version.py
  cuda_bindings/pyproject.toml
  cuda_bindings/setup.py
Labels: P0, packaging, cuda.bindings

#302 CI refactoring to cover more test support
  .github/actions/build/action.yml
  .github/actions/fetch_ctk/action.yml
  .github/actions/test/action.yml
  .github/workflows/ci-gh.yml
  .github/workflows/gh-build-and-test.yml
  cuda_bindings/tests/test_nvjitlink.py
  cuda_core/docs/source/conf.py
  cuda_core/tests/test_module.py
Labels: P0, CI/CD

#301 `cuda.core` v0.1.1 final doc touch
  cuda_core/docs/source/install.md
  cuda_core/docs/source/release/0.1.0-notes.md
  cuda_core/docs/source/release/0.1.1-notes.md
Labels: documentation, P0, cuda.core

#330 Fix triagelabel workflow
  .github/workflows/triagelabel.yml
Labels: bug, CI/CD

#333 Fix triagelabel workflow - cont'd
  .github/workflows/triagelabel.yml
Labels: bug

#334 Add back CuPy as an optional test dependency + Fix an example bug
  .github/workflows/gh-build-and-test.yml
  cuda_core/examples/saxpy.py
  cuda_core/examples/strided_memory_view.py
  cuda_core/examples/vector_add.py
  cuda_core/tests/requirements-cu11.txt
  cuda_core/tests/requirements-cu12.txt
Labels: P1, CI/CD, test, cuda.core
