Repository NVIDIA/cuda-python, pull requests merged in 2024-11, with the labels that each got.

#220 Use pyproject for auto discovery of packages and data
  cuda_bindings/pyproject.toml
  cuda_bindings/setup.py
Labels: bug, P0, cuda.bindings

#186 Docstrings for cuda.core
  cuda_core/cuda/core/experimental/_device.py
  cuda_core/cuda/core/experimental/_event.py
  cuda_core/cuda/core/experimental/_launcher.py
  cuda_core/cuda/core/experimental/_memory.py
  cuda_core/cuda/core/experimental/_module.py
  cuda_core/cuda/core/experimental/_program.py
  cuda_core/cuda/core/experimental/_stream.py
  cuda_core/docs/source/_templates/autosummary/class.rst
  cuda_core/docs/source/_templates/autosummary/dataclass.rst
  cuda_core/docs/source/_templates/autosummary/namedtuple.rst
  cuda_core/docs/source/api.rst
  cuda_core/docs/source/api_private.rst
  cuda_core/docs/source/conf.py
  cuda_core/docs/source/install.md
  cuda_core/docs/source/release/0.1.0-notes.md
  cuda_python/docs/environment-docs.yml
Labels: documentation, P1, cuda.core

#230 Fix discovery for trampoline files
  cuda_bindings/MANIFEST.in
  cuda_bindings/pyproject.toml
Labels: bug, P0, packaging, cuda.bindings

#231 Fix discovery for trampoline files
  cuda_bindings/MANIFEST.in
  cuda_bindings/pyproject.toml
Labels: bug, P0, packaging, cuda.bindings

#203 Fix _util.device_from_ctx
  cuda_core/cuda/core/experimental/_utils.py
  cuda_core/tests/test_stream.py
Labels: bug, P0, cuda.core

#239 Update docs to reflect recent releases
  cuda_bindings/docs/build_docs.sh
  cuda_bindings/docs/source/release/11.8.5-notes.md
  cuda_bindings/docs/source/release/12.6.2-notes.md
  cuda_bindings/docs/versions.json
  cuda_core/docs/source/release/0.1.0-notes.md
  cuda_python/docs/build_docs.sh
  cuda_python/docs/source/release.md
  cuda_python/docs/source/release/12.6.2-notes.md
  cuda_python/docs/versions.json
Labels: documentation, P0, cuda.bindings, cuda.core

#213 Clean up testsuite
  cuda_core/tests/conftest.py
  cuda_core/tests/example_tests/test_basic_examples.py
  cuda_core/tests/example_tests/utils.py
  cuda_core/tests/test_device.py
  cuda_core/tests/test_event.py
  cuda_core/tests/test_launcher.py
  cuda_core/tests/test_memory.py
  cuda_core/tests/test_module.py
  cuda_core/tests/test_program.py
  cuda_core/tests/test_stream.py
Labels: P0, test, cuda.core

#249 Fix the build portion of the gh-actions
  .github/actions/build/action.yml
  .github/actions/download-artifacts/action.yml
  .github/actions/setup/action.yml
  .github/workflows/ci-gh.yml
  .github/workflows/gh-build-and-test.yml
  .github/workflows/gh-build.yml
  continuous_integration/no_dependencies.json
  continuous_integration/scripts/build
  continuous_integration/scripts/generate-environment
  continuous_integration/scripts/make-conda-env
  continuous_integration/scripts/render-template.py
Labels: test

#252 Update out-of-date (sub)package REAME files and overhaul bindings Cython test instructions
  README.md
  cuda_bindings/README.md
  cuda_bindings/tests/cython/build_tests.bat
  cuda_bindings/tests/cython/build_tests.sh
  cuda_bindings/tests/cython/test_ccuda.pyx
  cuda_bindings/tests/cython/test_ccudart.pyx
  cuda_bindings/tests/cython/test_cython.py
  cuda_bindings/tests/cython/test_interoperability_cython.pyx
  cuda_bindings/tests/pytest.ini
Labels: enhancement, cuda.bindings

#228 update the nvjitlink bindings test
  README.md
  cuda_bindings/README.md
  cuda_bindings/tests/test_nvjitlink.py
  cuda_core/README.md
  cuda_core/cuda/core/experimental/_stream.py
  cuda_python/docs/source/index.rst
Labels: P1, test, cuda.bindings
