Repository NVIDIA/cuda-python, pull requests merged in 2025-04, with the labels that each got.

#544 Move callback wrappers to Python layer
  cuda_bindings/cuda/bindings/cyruntime.pyx.in
  cuda_bindings/cuda/bindings/driver.pyx.in
  cuda_bindings/cuda/bindings/nvrtc.pyx.in
  cuda_bindings/cuda/bindings/runtime.pyx.in
Labels: enhancement, P0, cuda.bindings

#538 Fix performance hint warnings raised by Cython 3
  cuda_bindings/cuda/bindings/_bindings/cyruntime.pxd.in
  cuda_bindings/cuda/bindings/_bindings/cyruntime.pxi.in
  cuda_bindings/cuda/bindings/_bindings/cyruntime.pyx.in
  cuda_bindings/cuda/bindings/_bindings/cyruntime_ptds.pxd.in
  cuda_bindings/cuda/bindings/_bindings/cyruntime_ptds.pyx.in
  cuda_bindings/cuda/bindings/_internal/nvjitlink.pxd
  cuda_bindings/cuda/bindings/_internal/nvjitlink_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvjitlink_windows.pyx
  cuda_bindings/cuda/bindings/_internal/nvvm.pxd
  cuda_bindings/cuda/bindings/_internal/nvvm_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvvm_windows.pyx
  cuda_bindings/cuda/bindings/cydriver.pyx.in
  cuda_bindings/cuda/bindings/cynvjitlink.pxd
  cuda_bindings/cuda/bindings/cynvjitlink.pyx
  cuda_bindings/cuda/bindings/cynvvm.pxd
  cuda_bindings/cuda/bindings/cynvvm.pyx
  cuda_bindings/cuda/bindings/cyruntime.pxd.in
  cuda_bindings/cuda/bindings/cyruntime.pyx.in
  cuda_bindings/cuda/bindings/nvjitlink.pxd
  cuda_bindings/cuda/bindings/nvjitlink.pyx
  cuda_bindings/docs/source/release/12.X.Y-notes.rst
Labels: enhancement, P1, cuda.bindings

#546 fast error code
  cuda_bindings/cuda/bindings/driver.pyx.in
  cuda_bindings/cuda/bindings/nvrtc.pyx.in
  cuda_bindings/cuda/bindings/runtime.pyx.in
Labels: enhancement, P1, cuda.bindings

#549 Add SECURITY.md file
  SECURITY.md
Labels: documentation, support, P0

#550 Add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, support, P0

#547 Various documentation improvements
  README.md
  cuda_bindings/DESCRIPTION.rst
  cuda_bindings/README.md
  cuda_bindings/docs/build_docs.sh
  cuda_bindings/docs/source/conf.py
  cuda_bindings/docs/source/install.md
  cuda_bindings/docs/source/module/nvjitlink.rst
  cuda_bindings/docs/source/module/nvvm.rst
  cuda_bindings/docs/source/overview.md
  cuda_bindings/docs/source/release/11.8.7-notes.rst
  cuda_bindings/docs/source/release/12.X.Y-notes.rst
  cuda_core/docs/source/install.md
  cuda_python/docs/source/conf.py
  cuda_python/docs/source/index.rst
Labels: documentation, P1, cuda.bindings

#493 Ensure `cuda` is a namespace package & Improve warnings
  cuda_bindings/cuda/__init__.pxd
  cuda_bindings/cuda/__init__.py
  cuda_bindings/cuda/ccuda.pxd
  cuda_bindings/cuda/ccuda.pyx
  cuda_bindings/cuda/ccudart.pxd
  cuda_bindings/cuda/ccudart.pyx
  cuda_bindings/cuda/cnvrtc.pxd
  cuda_bindings/cuda/cnvrtc.pyx
  cuda_bindings/cuda/cuda.pyx
  cuda_bindings/cuda/cudart.pyx
  cuda_bindings/cuda/nvrtc.pyx
  cuda_bindings/pyproject.toml
  cuda_bindings/setup.py
  cuda_bindings/site-packages/_cuda_bindings_redirector.pth
  cuda_bindings/site-packages/_cuda_bindings_redirector.py
Labels: bug, enhancement, P0, cuda.bindings

#560 Add CodeQL and Bandit Static Analysis Scans
  .github/workflows/bandit.yml
  .github/workflows/codeql.yml
  .pre-commit-config.yaml
Labels: support, P0, CI/CD

#572 Return None values when API errors
  cuda_bindings/cuda/bindings/driver.pyx.in
  cuda_bindings/cuda/bindings/nvrtc.pyx.in
  cuda_bindings/cuda/bindings/runtime.pyx.in
  cuda_bindings/docs/source/release/12.X.Y-notes.rst
  cuda_bindings/tests/test_cuda.py
Labels: bug, P0, cuda.bindings

#574 [Backport] Fix support for NVVM from conda on Windows + other fixes
  cuda_bindings/cuda/bindings/_bindings/cynvrtc.pyx.in
  cuda_bindings/cuda/bindings/_internal/nvvm_windows.pyx
  cuda_bindings/setup.py
Labels: bug, P0, cuda.bindings

#577 Add bandit config, fix failing issues
  .bandit
  .pre-commit-config.yaml
  cuda_bindings/tests/test_cuda.py
  cuda_core/tests/example_tests/utils.py
  cuda_python/setup.py
Labels: enhancement, CI/CD, cuda.bindings

#558 Add `path_finder.SUPPORTED_LIBNAMES`
  cuda_bindings/cuda/bindings/_bindings/cynvrtc.pyx.in
  cuda_bindings/cuda/bindings/_internal/nvjitlink_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvjitlink_windows.pyx
  cuda_bindings/cuda/bindings/_internal/nvvm_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvvm_windows.pyx
  cuda_bindings/cuda/bindings/_path_finder/find_nvidia_dynamic_library.py
  cuda_bindings/cuda/bindings/_path_finder/load_nvidia_dynamic_library.py
  cuda_bindings/cuda/bindings/_path_finder/supported_libs.py
  cuda_bindings/cuda/bindings/path_finder.py
  cuda_bindings/pyproject.toml
  cuda_bindings/tests/conftest.py
  cuda_bindings/tests/path_finder.py
  cuda_bindings/tests/test_path_finder.py
  toolshed/build_path_finder_dlls.py
  toolshed/build_path_finder_sonames.py
  toolshed/find_sonames.sh
  toolshed/run_cuda_bindings_path_finder.py
Labels: P0, feature, cuda.bindings

#573 DOC: Add admonition to docstrings for cuda.core handle properties
  cuda_core/cuda/core/experimental/_event.py
  cuda_core/cuda/core/experimental/_linker.py
  cuda_core/cuda/core/experimental/_memory.py
  cuda_core/cuda/core/experimental/_module.py
  cuda_core/cuda/core/experimental/_program.py
  cuda_core/cuda/core/experimental/_stream.py
Labels: documentation, P1, cuda.core

#559 NEW: Make event timing error messages more specific and actionable
  .github/workflows/test-wheel-windows.yml
  cuda_core/cuda/core/experimental/_event.py
  cuda_core/tests/test_event.py
Labels: enhancement, P1, cuda.core

#566 CI: Run some tests with compute-sanitizer
  .github/workflows/test-wheel-linux.yml
  cuda_bindings/docs/source/environment_variables.md
  cuda_bindings/tests/conftest.py
  cuda_bindings/tests/test_cuda.py
  cuda_bindings/tests/test_cudart.py
  cuda_core/tests/conftest.py
  cuda_core/tests/test_cuda_utils.py
  cuda_core/tests/test_event.py
  cuda_core/tests/test_linker.py
Labels: P1, CI/CD, cuda.bindings, cuda.core

#581 Add lint instructions
  CONTRIBUTING.md
Labels: documentation, support, P1

#582 fix indexing bug in saxpy.py
  cuda_core/examples/saxpy.py
Labels: bug, P0, cuda.core, example

#590 Consolidate shared info between README.md and DESCRIPTION.rst
  CONTRIBUTING.md
  cuda_bindings/DESCRIPTION.rst
  cuda_bindings/README.md
  cuda_core/DESCRIPTION.rst
  cuda_core/README.md
  cuda_python/DESCRIPTION.rst
  cuda_python/pyproject.toml
Labels: documentation, P1, cuda.bindings, cuda.core

#579 PyTorch example
  cuda_core/examples/pytorch_example.py
  cuda_core/tests/example_tests/utils.py
Labels: P1, cuda.core, example
