Repository NVIDIA/cuda-python, pull requests merged in 2025-08, with the labels that each got.

#797 getting started example is complete
  cuda_core/docs/source/getting-started.md
Labels: documentation, P1, cuda.core

#781 Make `Device.set_current()` faster
  cuda_core/cuda/core/experimental/_device.py
Labels: enhancement, P0, cuda.core

#814 Fix pathfinder imports and handle access
  cuda_bindings/cuda/bindings/_bindings/cynvrtc.pyx.in
  cuda_bindings/cuda/bindings/_internal/cufile_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvjitlink_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvjitlink_windows.pyx
  cuda_bindings/cuda/bindings/_internal/nvvm_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvvm_windows.pyx
  cuda_bindings/cuda/bindings/_path_finder/README.md
  cuda_bindings/cuda/bindings/_path_finder/temporary_backward_compatibility.py
  cuda_bindings/cuda/bindings/path_finder.py
Labels: enhancement, P0, cuda.bindings

#817 Bump cuda.core to 0.3.2
  cuda_core/cuda/core/_version.py
  cuda_core/docs/source/release/0.3.2-notes.rst
  cuda_core/docs/versions.json
  cuda_core/pyproject.toml
Labels: P0, packaging, cuda.core

#819 Add missing release note link
  cuda_core/docs/source/release.rst
Labels: documentation, P0, cuda.core

#818 Fix URLs for cccl docs
  README.md
  cuda_python/DESCRIPTION.rst
  cuda_python/docs/source/conf.py
  cuda_python/docs/source/index.rst
Labels: documentation, P1

#826 Minimal cufile cuda_bindings updates for CTK 13
  cuda_bindings/cuda/bindings/_internal/cufile.pxd
  cuda_bindings/cuda/bindings/_internal/cufile_linux.pyx
  cuda_bindings/cuda/bindings/cufile.pxd
  cuda_bindings/cuda/bindings/cufile.pyx
  cuda_bindings/cuda/bindings/cycufile.pxd
  cuda_bindings/cuda/bindings/cycufile.pyx
Labels: P0, feature, cuda.bindings

#827 Make it clear `cuda-pathfinder` is installed as part of `cuda-python`
  README.md
  cuda_python/docs/source/index.rst
  cuda_python/docs/source/release/12.9.1-notes.rst
  cuda_python/docs/source/release/13.0.0-notes.rst
  cuda_python/setup.py
Labels: documentation, P0, packaging, cuda.pathfinder

#840 Improve #789: Remove cyclical dependency between cuda.bindings.{driver|runtime} and c.b.utils
  cuda_bindings/cuda/bindings/driver.pyx.in
  cuda_bindings/cuda/bindings/runtime.pyx.in
  cuda_bindings/cuda/bindings/utils/__init__.py
  cuda_bindings/cuda/bindings/utils/_get_handle.pyx.in
Labels: enhancement, P1, cuda.bindings

#837 Adds path for the CUDA static library based on CUDA_HOME
  .github/workflows/build-wheel.yml
  cuda_bindings/setup.py
Labels: enhancement, P1, cuda.bindings

#879 Fix an apparent mistake in GraphBuilder.add_child
  cuda_core/cuda/core/experimental/_graph.py
Labels: bug, P0, cuda.core

#901 Add ` pre-commit-hooks` ("Standard hooks") in `.pre-commit-config.yaml` to get rid of whitespace noise
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/doc_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/doc_preview/action.yml
  .github/actions/install_unix_deps/action.yml
  .github/workflows/release-upload.yml
  .pre-commit-config.yaml
  SECURITY.md
  ci/tools/download-wheels
  cuda_bindings/LICENSE
  cuda_bindings/docs/source/environment_variables.rst
  cuda_bindings/docs/source/install.rst
  cuda_bindings/docs/source/motivation.rst
  cuda_bindings/docs/source/overview.rst
  cuda_bindings/docs/source/release/11.6.0-notes.rst
  cuda_bindings/docs/source/release/12.9.X-notes.rst
  cuda_bindings/docs/source/tips_and_tricks.rst
  cuda_bindings/pyproject.toml
  cuda_core/cuda/core/experimental/_kernel_arg_handler.pyx
  cuda_core/cuda/core/experimental/_memory.pyx
  cuda_core/cuda/core/experimental/_memoryview.pyx
  cuda_core/docs/source/_templates/autosummary/dataclass.rst
  cuda_core/docs/source/_templates/autosummary/namedtuple.rst
  cuda_core/docs/source/getting-started.rst
  cuda_core/docs/source/install.rst
  cuda_core/docs/source/release/0.1.1-notes.rst
  cuda_core/docs/source/release/0.3.2-notes.rst
  cuda_core/pyproject.toml
  cuda_core/tests/cython/test_get_cuda_native_handle.pyx
  cuda_python/LICENSE
  cuda_python/docs/source/release.rst
Labels: enhancement, P1, CI/CD

#894 Reduce overhead of bindings requiring `cuPythonInit()`
  cuda_bindings/cuda/bindings/_bindings/cydriver.pyx.in
  cuda_bindings/cuda/bindings/_bindings/cynvrtc.pyx.in
  cuda_bindings/cuda/bindings/_bindings/cyruntime.pyx.in
  cuda_bindings/docs/source/release/13.X.Y-notes.rst
Labels: enhancement, P1, cuda.bindings, to-be-backported

#923 Copy 12.9.x changelog entry to main branch
  cuda_bindings/docs/source/release/12.9.X-notes.rst
Labels: documentation, P1, cuda.bindings

#922 Backport #914 and #894 to 12.9.x branch
  .gitignore
  cuda_bindings/cuda/bindings/_bindings/cydriver.pyx.in
  cuda_bindings/cuda/bindings/_bindings/cynvrtc.pyx.in
  cuda_bindings/cuda/bindings/_bindings/cyruntime.pxd.in
  cuda_bindings/cuda/bindings/_bindings/cyruntime.pyx.in
  cuda_bindings/cuda/bindings/_lib/cyruntime/cyruntime.pxd
  cuda_bindings/cuda/bindings/_lib/cyruntime/cyruntime.pxd.in
  cuda_bindings/cuda/bindings/_lib/cyruntime/cyruntime.pxi
  cuda_bindings/cuda/bindings/_lib/cyruntime/cyruntime.pyx.in
  cuda_bindings/cuda/bindings/_lib/cyruntime/utils.pxd.in
  cuda_bindings/cuda/bindings/cyruntime.pyx.in
  cuda_bindings/cuda/bindings/utils/__init__.pxd
  cuda_bindings/docs/source/release/12.X.Y-notes.rst
  cuda_bindings/setup.py
  cuda_bindings/tests/utils/check_cyclical_import.py
  cuda_core/tests/test_utils.py
Labels: enhancement, P0, cuda.bindings

#921 Reverse tabulated names to achieve new → old search order.
  cuda_pathfinder/cuda/pathfinder/_dynamic_libs/load_dl_linux.py
  cuda_pathfinder/cuda/pathfinder/_dynamic_libs/load_dl_windows.py
  cuda_pathfinder/cuda/pathfinder/_dynamic_libs/supported_nvidia_libs.py
  cuda_pathfinder/cuda/pathfinder/_version.py
  cuda_pathfinder/docs/source/release/1.X.Y-notes.rst
Labels: enhancement, P0, cuda.pathfinder

#924 Update with whitespace-only changes from cython-gen
  cuda_bindings/cuda/bindings/_bindings/cydriver.pyx.in
  cuda_bindings/cuda/bindings/_bindings/cynvrtc.pyx.in
  cuda_bindings/cuda/bindings/_bindings/cyruntime.pxd.in
  cuda_bindings/cuda/bindings/_bindings/cyruntime.pyx.in
Labels: enhancement, P1, cuda.bindings

#931 Add support for cuDSS lib
  cuda_pathfinder/DESCRIPTION.rst
  cuda_pathfinder/cuda/pathfinder/_dynamic_libs/supported_nvidia_libs.py
  cuda_pathfinder/cuda/pathfinder/_version.py
  cuda_pathfinder/docs/nv-versions.json
  cuda_pathfinder/docs/source/release.rst
  cuda_pathfinder/docs/source/release/1.2.1-notes.rst
  cuda_pathfinder/pyproject.toml
Labels: bug, P0, cuda.pathfinder
