Repository NVIDIA/cuda-python, pull requests merged in 2025-02, with the labels that each got.

#398 Documentation remove gpu dependency
  cuda_core/cuda/core/experimental/_memoryview.pyx
  cuda_core/docs/source/conf.py
Labels: P1, test, cuda.core

#371 handle CTK version specific options in the linker test
  cuda_core/tests/test_linker.py
Labels: enhancement, P1, cuda.core

#317 support ptx code type for program
  cuda_core/cuda/core/experimental/_linker.py
  cuda_core/cuda/core/experimental/_program.py
  cuda_core/tests/test_linker.py
  cuda_core/tests/test_program.py
Labels: enhancement, P0, cuda.core

#427 Update release checklist to focus on subpackages
  .github/ISSUE_TEMPLATE/release_checklist.yml
Labels: support, P1

#421 Add nvvm bindings
  .github/actions/fetch_ctk/action.yml
  cuda_bindings/cuda/bindings/_internal/nvvm.pxd
  cuda_bindings/cuda/bindings/_internal/nvvm_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvvm_windows.pyx
  cuda_bindings/cuda/bindings/_internal/utils.pxd
  cuda_bindings/cuda/bindings/_internal/utils.pyx
  cuda_bindings/cuda/bindings/cynvvm.pxd
  cuda_bindings/cuda/bindings/cynvvm.pyx
  cuda_bindings/cuda/bindings/nvvm.pxd
  cuda_bindings/cuda/bindings/nvvm.pyx
  cuda_bindings/pyproject.toml
  cuda_bindings/setup.py
  cuda_bindings/tests/test_nvvm.py
Labels: P0, feature, cuda.bindings, to-be-backported

#360 Kernel attributes
  cuda_core/cuda/core/experimental/_module.py
  cuda_core/docs/source/release/0.2.0-notes.rst
  cuda_core/tests/test_module.py
Labels: P0, feature, cuda.core

#443 test_nvvm.py changes for compatibility with CTK 11.8
  cuda_bindings/requirements.txt
  cuda_bindings/tests/test_nvvm.py
Labels: P1, test, cuda.bindings

#445 Add cuda_bindings/docs/source/module/nvvm.rst
  cuda_bindings/docs/source/api.rst
  cuda_bindings/docs/source/install.md
  cuda_bindings/docs/source/module/nvvm.rst
  cuda_bindings/docs/source/release.rst
  cuda_bindings/docs/source/release/11.8.7-notes.rst
  cuda_bindings/docs/source/release/12.X.Y-notes.rst
Labels: documentation, P0, cuda.bindings

#434 Use cpu runner to build docs
  .github/workflows/build-docs.yml
  cuda_core/docs/source/api.rst
  cuda_core/docs/source/conf.py
Labels: documentation, P1, CI/CD

#409 device properties
  cuda_core/cuda/core/experimental/_device.py
  cuda_core/docs/source/api_private.rst
  cuda_core/docs/source/release/0.2.0-notes.rst
  cuda_core/tests/test_device.py
Labels: enhancement, cuda.core, breaking

#436 Update linker options sequence handling
  cuda_core/cuda/core/experimental/_linker.py
  cuda_core/tests/test_linker.py
Labels: bug, P0, cuda.core

#435 Expose `ObjectCode` as public API + prune unnecessary input arguments
  cuda_core/cuda/core/experimental/__init__.py
  cuda_core/cuda/core/experimental/_event.py
  cuda_core/cuda/core/experimental/_linker.py
  cuda_core/cuda/core/experimental/_module.py
  cuda_core/cuda/core/experimental/_program.py
  cuda_core/docs/source/api.rst
  cuda_core/docs/source/release/0.2.0-notes.rst
  cuda_core/examples/simple_multi_gpu_example.py
  cuda_core/tests/test_module.py
Labels: P0, feature, cuda.core

#456 Pin Sphinx <8.2.0 to fix doc build
  cuda_python/docs/environment-docs.yml
Labels: bug, documentation, P0, CI/CD

#444 CI: Add Windows GPU runner for tests
  .github/workflows/build-and-test.yml
  .github/workflows/install_gpu_driver.ps1
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
Labels: P0, CI/CD

#394 Improve program checks
  cuda_core/cuda/core/experimental/_program.py
  cuda_core/tests/conftest.py
  cuda_core/tests/test_module.py
  cuda_core/tests/test_program.py
Labels: enhancement, P1, cuda.core

#407 Update benchmarks and enable them
  cuda_bindings/README.md
  cuda_bindings/benchmarks/__init__.py
  cuda_bindings/benchmarks/conftest.py
  cuda_bindings/benchmarks/kernels.py
  cuda_bindings/benchmarks/test_cupy.py
  cuda_bindings/benchmarks/test_launch_latency.py
  cuda_bindings/benchmarks/test_numba.py
  cuda_bindings/benchmarks/test_pointer_attributes.py
Labels: bug, P2, cuda.bindings

#463 Various handle-related changes and improvements
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  cuda_core/README.md
  cuda_core/cuda/core/experimental/_event.py
  cuda_core/cuda/core/experimental/_linker.py
  cuda_core/cuda/core/experimental/_memoryview.pyx
  cuda_core/cuda/core/experimental/_module.py
  cuda_core/cuda/core/experimental/_program.py
  cuda_core/cuda/core/experimental/_stream.py
  cuda_core/cuda/core/experimental/include/utility.hpp
  cuda_core/docs/source/_templates/autosummary/class.rst
  cuda_core/docs/source/api_private.rst
  cuda_core/docs/source/conf.py
  cuda_core/docs/source/release/0.2.0-notes.rst
  cuda_core/pyproject.toml
  cuda_core/tests/cython/build_tests.sh
  cuda_core/tests/cython/test_cython.py
  cuda_core/tests/cython/test_get_cuda_native_handle.pyx
  cuda_core/tests/example_tests/test_basic_examples.py
  cuda_core/tests/pytest.ini
  cuda_core/tests/test_linker.py
  cuda_core/tests/test_module.py
  cuda_core/tests/test_program.py
  cuda_core/tests/test_stream.py
Labels: enhancement, P0, cuda.core, breaking

#471 Improvements to some cuda bindings example
  cuda_bindings/examples/0_Introduction/clock_nvrtc_test.py
  cuda_bindings/examples/0_Introduction/simpleCubemapTexture_test.py
  cuda_bindings/examples/0_Introduction/vectorAddDrv_test.py
Labels: enhancement, P1, cuda.bindings

#474 Device properties example
  cuda_core/examples/show_device_properties.py
Labels: enhancement, P1, cuda.core
