Repository NVIDIA/cuda-python, pull requests merged in 2025-05, with the labels that each got.

#593 CI: Always fetch the compute-sanitizer from the CTK 12.8.1
  .github/actions/fetch_ctk/action.yml
Labels: enhancement, P0, CI/CD

#594 CI: Install latest compute-sanitizer separately from CTK
  .github/actions/fetch_ctk/action.yml
  .github/workflows/guess_latest.sh
  .github/workflows/install_gpu_driver.ps1
  .github/workflows/test-wheel-linux.yml
Labels: enhancement, P1, CI/CD

#600 Ensure `fetch_ctk` action can be used everywhere
  .github/actions/fetch_ctk/action.yml
  .github/workflows/build-and-test.yml
  .github/workflows/test-wheel-windows.yml
Labels: enhancement, P0, CI/CD

#578 2025-05-01 version of `cuda.bindings.path_finder`
  cuda_bindings/cuda/bindings/_bindings/cynvrtc.pyx.in
  cuda_bindings/cuda/bindings/_internal/nvjitlink_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvjitlink_windows.pyx
  cuda_bindings/cuda/bindings/_internal/nvvm_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvvm_windows.pyx
  cuda_bindings/cuda/bindings/_internal/utils.pxd
  cuda_bindings/cuda/bindings/_internal/utils.pyx
  cuda_bindings/cuda/bindings/_path_finder/README.md
  cuda_bindings/cuda/bindings/_path_finder/cuda_paths.py
  cuda_bindings/cuda/bindings/_path_finder/find_nvidia_dynamic_library.py
  cuda_bindings/cuda/bindings/_path_finder/find_sub_dirs.py
  cuda_bindings/cuda/bindings/_path_finder/findlib.py
  cuda_bindings/cuda/bindings/_path_finder/load_dl_common.py
  cuda_bindings/cuda/bindings/_path_finder/load_dl_linux.py
  cuda_bindings/cuda/bindings/_path_finder/load_dl_windows.py
  cuda_bindings/cuda/bindings/_path_finder/load_nvidia_dynamic_library.py
  cuda_bindings/cuda/bindings/_path_finder/supported_libs.py
  cuda_bindings/cuda/bindings/path_finder.py
  cuda_bindings/tests/test_path_finder_find_load.py
  cuda_bindings/tests/test_path_finder_find_sub_dirs.py
  cuda_bindings/tests/test_sys_path_find_sub_dirs.py
  toolshed/build_path_finder_dlls.py
  toolshed/build_path_finder_sonames.py
  toolshed/find_sonames.sh
  toolshed/run_cuda_bindings_path_finder.py
Labels: P0, feature, cuda.bindings

#597 Rebase to CTK 12.9
  .github/workflows/build-and-test.yml
  .gitignore
  cuda_bindings/MANIFEST.in
  cuda_bindings/cuda/bindings/_bindings/cydriver.pxd.in
  cuda_bindings/cuda/bindings/_bindings/cydriver.pyx.in
  cuda_bindings/cuda/bindings/_bindings/cynvrtc.pxd.in
  cuda_bindings/cuda/bindings/_bindings/cynvrtc.pyx.in
  cuda_bindings/cuda/bindings/_bindings/cyruntime.pxd.in
  cuda_bindings/cuda/bindings/_bindings/cyruntime.pxi.in
  cuda_bindings/cuda/bindings/_bindings/cyruntime.pyx.in
  cuda_bindings/cuda/bindings/_bindings/cyruntime_ptds.pxd.in
  cuda_bindings/cuda/bindings/_bindings/cyruntime_ptds.pyx.in
  cuda_bindings/cuda/bindings/_internal/nvjitlink.pxd
  cuda_bindings/cuda/bindings/_internal/nvjitlink_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvjitlink_windows.pyx
  cuda_bindings/cuda/bindings/_internal/nvvm.pxd
  cuda_bindings/cuda/bindings/_internal/nvvm_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvvm_windows.pyx
  cuda_bindings/cuda/bindings/_lib/cyruntime/utils.pyx.in
  cuda_bindings/cuda/bindings/_version.py
  cuda_bindings/cuda/bindings/cydriver.pxd.in
  cuda_bindings/cuda/bindings/cydriver.pyx.in
  cuda_bindings/cuda/bindings/cynvjitlink.pxd
  cuda_bindings/cuda/bindings/cynvjitlink.pyx
  cuda_bindings/cuda/bindings/cynvrtc.pxd.in
  cuda_bindings/cuda/bindings/cynvrtc.pyx.in
  cuda_bindings/cuda/bindings/cynvvm.pxd
  cuda_bindings/cuda/bindings/cynvvm.pyx
  cuda_bindings/cuda/bindings/cyruntime.pxd.in
  cuda_bindings/cuda/bindings/cyruntime.pyx.in
  cuda_bindings/cuda/bindings/cyruntime_functions.pxi.in
  cuda_bindings/cuda/bindings/cyruntime_types.pxi.in
  cuda_bindings/cuda/bindings/driver.pxd.in
  cuda_bindings/cuda/bindings/driver.pyx.in
  cuda_bindings/cuda/bindings/nvjitlink.pxd
  cuda_bindings/cuda/bindings/nvjitlink.pyx
  cuda_bindings/cuda/bindings/nvrtc.pxd.in
  cuda_bindings/cuda/bindings/nvrtc.pyx.in
  cuda_bindings/cuda/bindings/nvvm.pxd
  cuda_bindings/cuda/bindings/nvvm.pyx
  cuda_bindings/cuda/bindings/runtime.pxd.in
  cuda_bindings/cuda/bindings/runtime.pyx.in
  cuda_bindings/docs/source/module/driver.rst
  cuda_bindings/docs/source/module/nvrtc.rst
  cuda_bindings/docs/source/module/runtime.rst
  cuda_bindings/docs/source/release.rst
  cuda_bindings/docs/source/release/11.8.7-notes.rst
  cuda_bindings/docs/source/release/12.9.0-notes.rst
  cuda_bindings/tests/test_cuda.py
  cuda_core/cuda/core/experimental/_utils/driver_cu_result_explanations.py
  cuda_core/cuda/core/experimental/_utils/runtime_cuda_error_explanations.py
Labels: P0, feature, cuda.bindings

#609 Bump version to 11.8.7
  cuda_bindings/cuda/bindings/_version.py
Labels: support, P0, cuda.bindings

#611 Final pass for 12.9.0 doc updates
  cuda_bindings/docs/source/release/12.9.0-notes.rst
  cuda_bindings/docs/versions.json
  cuda_core/docs/source/install.md
  cuda_python/docs/source/release.md
  cuda_python/docs/source/release/12.9.0-notes.rst
  cuda_python/docs/versions.json
Labels: documentation, P0, cuda.bindings

#613 Merge path_finder_dev into main
  cuda_bindings/cuda/bindings/_path_finder/README.md
  cuda_bindings/cuda/bindings/_path_finder/find_nvidia_dynamic_library.py
  cuda_bindings/cuda/bindings/_path_finder/find_sub_dirs.py
  cuda_bindings/cuda/bindings/_path_finder/load_dl_common.py
  cuda_bindings/cuda/bindings/_path_finder/load_dl_linux.py
  cuda_bindings/cuda/bindings/_path_finder/load_dl_windows.py
  cuda_bindings/cuda/bindings/_path_finder/load_nvidia_dynamic_library.py
  cuda_bindings/cuda/bindings/_path_finder/supported_libs.py
  cuda_bindings/cuda/bindings/path_finder.py
  cuda_bindings/tests/conftest.py
  cuda_bindings/tests/run_python_code_safely.py
  cuda_bindings/tests/test_path_finder_find_sub_dirs.py
  cuda_bindings/tests/test_path_finder_load.py
  toolshed/build_path_finder_dlls.py
  toolshed/build_path_finder_sonames.py
  toolshed/find_sonames.sh
  toolshed/run_cuda_bindings_path_finder.py
Labels: P0, feature, cuda.bindings

#555 Refactor the CI matrix
  .github/workflows/build-and-test.yml
  .github/workflows/build-wheel.yml
  .github/workflows/ci.yml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  ci/versions.json
Labels: enhancement, P1, CI/CD

#620 CI: Reference workflow file name for old branch
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
Labels: bug, P0, CI/CD

#621 Miscellanous path_finder cleanup post release
  cuda_bindings/cuda/bindings/_path_finder/README.md
  cuda_bindings/cuda/bindings/_path_finder/load_dl_windows.py
  cuda_bindings/tests/run_python_code_safely.py
  cuda_bindings/tests/spawned_process_runner.py
  cuda_bindings/tests/test_path_finder_load.py
  cuda_bindings/tests/test_spawned_process_runner.py
Labels: enhancement, P1, cuda.bindings

#614 Use path_finder in bindings (nvJitLink, nvrtc, nvvm)
  cuda_bindings/cuda/bindings/_bindings/cynvrtc.pyx.in
  cuda_bindings/cuda/bindings/_internal/nvjitlink_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvjitlink_windows.pyx
  cuda_bindings/cuda/bindings/_internal/nvvm_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvvm_windows.pyx
  cuda_bindings/cuda/bindings/_internal/utils.pxd
  cuda_bindings/cuda/bindings/_internal/utils.pyx
  cuda_bindings/setup.py
Labels: enhancement, P1, cuda.bindings

#612 Implement Kernel.num_arguments, and Kernel.arguments_info
  cuda_core/cuda/core/experimental/_module.py
  cuda_core/docs/source/release/0.3.0-notes.rst
  cuda_core/tests/conftest.py
  cuda_core/tests/test_module.py
Labels: P1, feature, cuda.core

#638 Move dependencies from requirements.txt to an optional packaging extra
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  cuda_bindings/README.md
  cuda_bindings/pyproject.toml
  cuda_bindings/requirements.txt
  cuda_core/pyproject.toml
  cuda_core/tests/requirements-cu11.txt
  cuda_core/tests/requirements-cu12.txt
Labels: enhancement, P1, cuda.bindings, cuda.core

#640 Always build and run Cython tests + other CI improvements
  .github/actions/doc_preview/action.yml
  .github/actions/fetch_ctk/action.yml
  .github/actions/get_pr_number/action.yml
  .github/dependabot.yml
  .github/workflows/backport.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-wheel.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release-upload.yml
  .github/workflows/release.yml
  .github/workflows/status-check.yml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  cuda_bindings/pyproject.toml
  cuda_bindings/tests/cython/build_tests.sh
  cuda_core/tests/cython/build_tests.sh
Labels: P0, CI/CD, cuda.bindings

#618 Implement device and context properties for Event
  cuda_core/cuda/core/experimental/_device.py
  cuda_core/cuda/core/experimental/_event.py
  cuda_core/cuda/core/experimental/_stream.py
  cuda_core/docs/source/release/0.3.0-notes.rst
  cuda_core/tests/test_event.py
Labels: enhancement, P1, cuda.core

#660 Enable serialization/deserialization of `ObjectCode` instances
  cuda_core/cuda/core/experimental/_module.py
  cuda_core/tests/test_module.py
Labels: P0, feature, cuda.core

#666 Make `test_nvjitlink.py` less noisy.
  cuda_bindings/tests/test_nvjitlink.py
Labels: P1, test, cuda.bindings
