Repository NVIDIA/cuda-python, pull requests merged in 2025-09, with the labels that each got.

#913 Sync pre-commit, workflow `bandit` versions (manually)
  .github/workflows/bandit.yml
  .pre-commit-config.yaml
Labels: P0, CI/CD

#958 CI: Move to self-hosted Windows GPU runners
  .github/workflows/test-wheel-windows.yml
Labels: enhancement, P0, CI/CD

#970 refactor: replace none equality checks with `is`/`is not` equivalents
  cuda_bindings/cuda/bindings/driver.pyx.in
  cuda_bindings/cuda/bindings/runtime.pyx.in
Labels: enhancement, P1, cuda.bindings

#969 Fix #962: Don't perform unnecessary version checks
  cuda_bindings/cuda/bindings/_internal/cufile_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvjitlink_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvjitlink_windows.pyx
  cuda_bindings/cuda/bindings/_internal/nvvm_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvvm_windows.pyx
Labels: bug, P1, cuda.bindings

#953 [scripts] Adding `run_tests.sh` script
  conftest.py
  cuda_core/README.md
  cuda_pathfinder/tests/conftest.py
  pytest.ini
  scripts/run_tests.sh
Labels: P2, test, cuda.bindings, cuda.core, cuda.pathfinder

#929 Fix #702: Update cyruntime.getLocalRuntimeVersion to use pathfinder
  cuda_bindings/cuda/bindings/_lib/windll.pxd
  cuda_bindings/cuda/bindings/cyruntime.pyx.in
  cuda_bindings/docs/source/release/12.9.X-notes.rst
  cuda_bindings/docs/source/release/13.X.Y-notes.rst
  cuda_bindings/tests/test_cudart.py
Labels: enhancement, P1, cuda.bindings

#975 feat: add support for CUcheckpointRestoreArgs
  cuda_bindings/cuda/bindings/_bindings/cydriver.pxd.in
  cuda_bindings/cuda/bindings/_bindings/cydriver.pyx.in
  cuda_bindings/cuda/bindings/cydriver.pxd.in
  cuda_bindings/cuda/bindings/cydriver.pyx.in
  cuda_bindings/cuda/bindings/driver.pxd.in
  cuda_bindings/cuda/bindings/driver.pyx.in
  cuda_bindings/docs/source/module/driver.rst
  cuda_bindings/docs/source/release/13.X.Y-notes.rst
  cuda_bindings/setup.py
Labels: P1, feature, cuda.bindings

#977 dev: ignore generated cufile.pyx
  .gitignore
Labels: enhancement, P2, cuda.bindings

#976 Fix #789: Remove self-cycle in cuda.bindings.driver
  cuda_bindings/cuda/bindings/_lib/utils.pxi.in
  cuda_bindings/cuda/bindings/driver.pyx.in
  cuda_bindings/cuda/bindings/nvrtc.pyx.in
  cuda_bindings/cuda/bindings/runtime.pyx.in
Labels: enhancement, P0, cuda.bindings

#989 Replace is not None checks for linker flags with booleans
  cuda_core/cuda/core/experimental/_linker.py
Labels: bug, P0, cuda.core

#992 Backport #942 and #969 to 12.9.x
  cuda_bindings/cuda/bindings/_bindings/cydriver.pyx.in
  cuda_bindings/cuda/bindings/_bindings/cynvrtc.pyx.in
  cuda_bindings/cuda/bindings/_lib/windll.pxd
  cuda_bindings/cuda/bindings/cyruntime.pyx.in
  cuda_bindings/cuda/bindings/driver.pyx.in
  cuda_bindings/cuda/bindings/runtime.pyx.in
Labels: enhancement, P0, cuda.bindings

#979 Fail if no "INFO test_" lines are found in pathfinder test output
  ci/tools/run-tests
Labels: cuda.pathfinder

#1002 Fix cuda_pathfinder v1.2.3 release notes
  cuda_pathfinder/docs/source/release/1.2.3-notes.rst
Labels: cuda.pathfinder

#1010 fix(library): avoid spurious close of cached shared library when calling `cudart.getLocalRuntimeVersion`
  cuda_bindings/cuda/bindings/cyruntime.pyx.in
  cuda_bindings/tests/test_cudart.py
Labels: bug, P0, cuda.bindings

#973 Avoid race due to deleted imports when cleaning up objects at interpreter shutdown
  cuda_bindings/cuda/bindings/utils/__init__.py
  cuda_core/cuda/core/experimental/_event.pyx
  cuda_core/cuda/core/experimental/_memory.pyx
  cuda_core/cuda/core/experimental/_stream.pyx
  cuda_core/docs/source/release/0.X.Y-notes.rst
Labels: bug, P0, cuda.core
