Repository NVIDIA/cuda-python, pull requests merged in 2025-01, with the labels that each got.

#315 add warning to the nvjitlink ctor when falling back to cuLink
  cuda_core/cuda/core/experimental/_linker.py
Labels: enhancement, P1, cuda.core

#325 Set up a preliminary doc build/publish pipeline
  .github/workflows/build-and-test.yml
  .github/workflows/build-docs.yml
  .github/workflows/ci-gh.yml
  cuda_bindings/docs/build_docs.sh
  cuda_core/docs/build_docs.sh
  cuda_python/docs/build_all_docs.sh
  cuda_python/docs/build_docs.sh
Labels: documentation, P0, CI/CD

#338 Fix doc ci permissions
  .github/workflows/build-and-test.yml
Labels: bug, CI/CD

#343 Add a dummy email address to the doc bot
  .github/workflows/build-and-test.yml
  .github/workflows/build-docs.yml
Labels: bug, documentation, CI/CD

#304 multi gpu example
  cuda_core/examples/simple_multi_gpu_example.py
  cuda_core/tests/conftest.py
Labels: enhancement, P0, cuda.core

#341 Create release_checklist.yml
  .github/ISSUE_TEMPLATE/release_checklist.yml
Labels: support, P1

#345 Add issue config
  .github/ISSUE_TEMPLATE/config.yml
Labels: support

#347 Backport: minimal CI infra for building & testing 11.8.x
  .github/actions/fetch_ctk/action.yml
  .github/copy-pr-bot.yaml
  .github/workflows/build-and-test.yml
Labels: P0, CI/CD, cuda.bindings

#352 Add a backport CI workflow
  .github/workflows/backport.yml
Labels: P0, CI/CD

#323 Enable Cython tests for `cuda.bindings`
  .github/actions/fetch_ctk/action.yml
  .github/workflows/build-and-test.yml
Labels: P1, CI/CD, cuda.bindings, to-be-backported

#361 Explicitly state which extension uses cpp files
  cuda_bindings/setup.py
Labels: bug, P0, cuda.bindings, to-be-backported

#363 Enable discovery and loading at run time of NVRTC and nvJitLink libraries in a wheels ecosystem
  cuda_bindings/cuda/bindings/_bindings/cynvrtc.pyx.in
  cuda_bindings/docs/source/release/12.x.y-notes.md
  cuda_bindings/pyproject.toml
  cuda_bindings/setup.py
Labels: enhancement, P0, packaging, cuda.bindings, to-be-backported

#369 Backport 363 to 11.8.x
  cuda_bindings/cuda/bindings/_bindings/cynvrtc.pyx.in
  cuda_bindings/pyproject.toml
  cuda_bindings/setup.py
Labels: enhancement, P0, packaging, cuda.bindings

#357 Download build artifacts from the backport branch for testing in the `main` branch
  .github/BACKPORT_BRANCH
  .github/ISSUE_TEMPLATE/release_checklist.yml
  .github/actions/fetch_ctk/action.yml
  .github/actions/install_unix_deps/action.yml
  .github/workflows/backport.yml
  .github/workflows/build-and-test.yml
  .github/workflows/build-docs.yml
Labels: P0, CI/CD, feature

#355 [Backport] Remove `versioneer`
  cuda_bindings/cuda/bindings/__init__.py
  cuda_bindings/cuda/bindings/_version.py
  cuda_bindings/pyproject.toml
  cuda_bindings/requirements.txt
  cuda_bindings/setup.py
Labels: enhancement, P0, packaging, cuda.bindings

#359 [Backport] Enable Cython tests for `cuda.bindings`
  .github/actions/fetch_ctk/action.yml
  .github/workflows/build-and-test.yml
  cuda_bindings/tests_cython/build_tests.sh
  cuda_bindings/tests_cython/test_ccuda.pyx
  cuda_bindings/tests_cython/test_ccudart.pyx
  cuda_bindings/tests_cython/test_interoperability_cython.pyx
Labels: P1, CI/CD, cuda.bindings

#376 Remove duplicated cmdclass override
  cuda_bindings/setup.py
Labels: bug, P0, cuda.bindings

#379 Add CI status check
  .github/workflows/backport.yml
  .github/workflows/build-and-test.yml
  .github/workflows/status-check.yml
Labels: P0, CI/CD, to-be-backported

#381 Fix backport CI
  .github/BACKPORT_BRANCH
Labels: to-be-backported

#382 [Backport] Add CI Status check
  .github/workflows/build-and-test.yml
  .github/workflows/status-check.yml
Labels: P0, CI/CD

#378 [Backport] Test against CUDA wheels
  .github/workflows/build-and-test.yml
Labels: P0, CI/CD

#368 Test against CUDA wheels
  .github/workflows/build-and-test.yml
  .github/workflows/build-docs.yml
  .github/workflows/test-wheel.yml
  cuda_core/tests/requirements-cu11.txt
  cuda_core/tests/requirements-cu12.txt
Labels: P0, CI/CD, to-be-backported

#385 [Backport] Turn cuda-python into a pure Python wheel that depends on the cuda-bindings wheel
  .github/workflows/build-and-test.yml
  cuda_bindings/pyproject.toml
  cuda_python/LICENSE
  cuda_python/README.md
  cuda_python/pyproject.toml
  cuda_python/setup.py
Labels: P0, CI/CD, packaging

#391 [Backport] Add `cuda-python[all]` for passing through
  .github/workflows/build-and-test.yml
  cuda_python/pyproject.toml
  cuda_python/setup.py
Labels: P0, packaging, cuda.bindings

#356 Turn `cuda-python` into a pure Python wheel that depends on the `cuda-bindings` wheel
  .github/workflows/build-and-test.yml
  .github/workflows/build-docs.yml
  .github/workflows/test-wheel.yml
  cuda_bindings/cuda/bindings/_version.py
  cuda_bindings/pyproject.toml
  cuda_bindings/setup.py
  cuda_bindings/tests/test_nvjitlink.py
  cuda_core/cuda/core/experimental/_launcher.py
  cuda_core/cuda/core/experimental/_module.py
  cuda_core/cuda/core/experimental/_utils.py
  cuda_core/pyproject.toml
  cuda_python/LICENSE
  cuda_python/README.md
  cuda_python/pyproject.toml
  cuda_python/setup.py
Labels: P0, CI/CD, packaging

#390 Add a note about nvjitlink compatibility
  cuda_bindings/docs/source/module/nvjitlink.rst
Labels: P0, cuda.bindings

#372 Document header requirements for Cython users
  cuda_bindings/README.md
  cuda_bindings/docs/source/install.md
  cuda_core/README.md
Labels: documentation, P0, cuda.bindings

#396 Add pre-commit.ci config
  .pre-commit-config.yaml
Labels: support, P0, CI/CD

#395 CI: Fix backport workflow
  .github/workflows/backport.yml
Labels: bug, P0, CI/CD

#393 Minor CI improvements
  .github/workflows/build-and-test.yml
  .github/workflows/test-wheel.yml
Labels: enhancement, P1, CI/CD, to-be-backported

#375 add documentation of getPtr to overview.md
  cuda_bindings/docs/source/index.rst
  cuda_bindings/docs/source/tips_and_tricks.rst
Labels: documentation, P1, cuda.bindings

#401 Explicitly convert to cuuint64_t*
  cuda_bindings/cuda/bindings/_lib/cyruntime/cyruntime.pyx.in
Labels: bug, P1, cuda.bindings

#402 CI: Use new env parallel env variable to avoid warning
  .github/workflows/build-and-test.yml
Labels: enhancement, P1, CI/CD

#380 Add doc preview CI
  .github/actions/doc_preview/action.yml
  .github/workflows/build-and-test.yml
  .github/workflows/build-docs.yml
Labels: documentation, P1, CI/CD

#404 Ensure deprecation warnings from cuda.bindings are swallowed
  cuda_core/cuda/core/experimental/_context.py
  cuda_core/cuda/core/experimental/_device.py
  cuda_core/cuda/core/experimental/_event.py
  cuda_core/cuda/core/experimental/_launcher.py
  cuda_core/cuda/core/experimental/_linker.py
  cuda_core/cuda/core/experimental/_memory.py
  cuda_core/cuda/core/experimental/_memoryview.pyx
  cuda_core/cuda/core/experimental/_module.py
  cuda_core/cuda/core/experimental/_program.py
  cuda_core/cuda/core/experimental/_stream.py
  cuda_core/cuda/core/experimental/_system.py
  cuda_core/cuda/core/experimental/_utils.py
Labels: enhancement, P1, cuda.core

#397 Add project description
  .github/workflows/build-and-test.yml
  README.md
  cuda_bindings/DESCRIPTION.rst
  cuda_bindings/README.md
  cuda_bindings/pyproject.toml
  cuda_core/README.md
Labels: bug, P1, packaging, cuda.bindings

#408 Improve doc CI comment
  .github/actions/doc_preview/action.yml
Labels: support, P1, CI/CD

#237 Add the options data class to program
  cuda_core/cuda/core/experimental/__init__.py
  cuda_core/cuda/core/experimental/_linker.py
  cuda_core/cuda/core/experimental/_program.py
  cuda_core/cuda/core/experimental/_utils.py
  cuda_core/docs/source/api.rst
  cuda_core/docs/source/index.rst
  cuda_core/docs/source/release.md
  cuda_core/docs/source/release.rst
  cuda_core/docs/source/release/0.1.0-notes.rst
  cuda_core/docs/source/release/0.1.1-notes.md
  cuda_core/docs/source/release/0.1.1-notes.rst
  cuda_core/docs/source/release/0.2.0-notes.rst
  cuda_core/examples/saxpy.py
  cuda_core/examples/strided_memory_view.py
  cuda_core/examples/thread_block_cluster.py
  cuda_core/examples/vector_add.py
  cuda_core/tests/test_linker.py
  cuda_core/tests/test_module.py
  cuda_core/tests/test_program.py
Labels: enhancement, P0, cuda.core, breaking

#410 CI: add a warning banner to the preview docs
  .github/actions/doc_preview/action.yml
  .github/actions/get_pr_number/action.yml
  .github/workflows/build-docs.yml
  cuda_bindings/docs/source/conf.py
  cuda_core/docs/source/conf.py
  cuda_python/docs/source/conf.py
Labels: documentation, P1, CI/CD

#411 CI: Fix the latest docs with more fine-grained warning banners
  .github/actions/get_pr_number/action.yml
  cuda_bindings/docs/source/conf.py
  cuda_core/docs/source/conf.py
  cuda_python/docs/source/conf.py
  cuda_python/pyproject.toml
Labels: bug, documentation, P0, CI/CD

#414 Rebase to CTK 12.8
  .github/workflows/build-and-test.yml
  cuda_bindings/cuda/bindings/_bindings/cydriver.pxd.in
  cuda_bindings/cuda/bindings/_bindings/cydriver.pyx.in
  cuda_bindings/cuda/bindings/_bindings/cynvrtc.pxd.in
  cuda_bindings/cuda/bindings/_bindings/cynvrtc.pyx.in
  cuda_bindings/cuda/bindings/_lib/cyruntime/cyruntime.pxd.in
  cuda_bindings/cuda/bindings/_lib/cyruntime/cyruntime.pyx.in
  cuda_bindings/cuda/bindings/_lib/cyruntime/utils.pyx.in
  cuda_bindings/cuda/bindings/_lib/utils.pxd.in
  cuda_bindings/cuda/bindings/_lib/utils.pyx.in
  cuda_bindings/cuda/bindings/_version.py
  cuda_bindings/cuda/bindings/cydriver.pxd.in
  cuda_bindings/cuda/bindings/cydriver.pyx.in
  cuda_bindings/cuda/bindings/cynvrtc.pxd.in
  cuda_bindings/cuda/bindings/cynvrtc.pyx.in
  cuda_bindings/cuda/bindings/cyruntime.pxd.in
  cuda_bindings/cuda/bindings/cyruntime.pyx.in
  cuda_bindings/cuda/bindings/driver.pxd.in
  cuda_bindings/cuda/bindings/driver.pyx.in
  cuda_bindings/cuda/bindings/nvrtc.pxd.in
  cuda_bindings/cuda/bindings/nvrtc.pyx.in
  cuda_bindings/cuda/bindings/runtime.pxd.in
  cuda_bindings/cuda/bindings/runtime.pyx.in
  cuda_bindings/docs/source/module/driver.rst
  cuda_bindings/docs/source/module/nvrtc.rst
  cuda_bindings/docs/source/module/runtime.rst
  cuda_bindings/examples/0_Introduction/clock_nvrtc_test.py
  cuda_bindings/examples/0_Introduction/simpleP2P_test.py
  cuda_bindings/examples/0_Introduction/simpleZeroCopy_test.py
  cuda_bindings/examples/0_Introduction/vectorAddMMAP_test.py
  cuda_bindings/examples/2_Concepts_and_Techniques/streamOrderedAllocation_test.py
  cuda_bindings/examples/3_CUDA_Features/globalToShmemAsyncCopy_test.py
  cuda_bindings/examples/4_CUDA_Libraries/conjugateGradientMultiBlockCG_test.py
  cuda_bindings/setup.py
  cuda_bindings/tests/cython/build_tests.bat
  cuda_bindings/tests/cython/build_tests.sh
  cuda_bindings/tests/test_cuda.py
Labels: P0, feature, cuda.bindings, blocked

#417 Bump version to 11.8.6
  cuda_bindings/cuda/bindings/_version.py
Labels: P0, packaging, cuda.bindings

#413 Documentation struct getters
  cuda_bindings/docs/source/tips_and_tricks.rst
Labels: documentation, enhancement, P0, cuda.bindings

#366 Doc updates for 12.8
  cuda_bindings/docs/source/index.rst
  cuda_bindings/docs/source/install.md
  cuda_bindings/docs/source/release.md
  cuda_bindings/docs/source/release.rst
  cuda_bindings/docs/source/release/11.8.6-notes.md
  cuda_bindings/docs/source/release/12.8.0-notes.md
  cuda_bindings/docs/source/release/12.x.y-notes.md
  cuda_bindings/docs/source/support.rst
  cuda_bindings/docs/source/tips_and_tricks.rst
  cuda_bindings/docs/versions.json
  cuda_python/docs/source/release.md
  cuda_python/docs/source/release/11.8.6-notes.md
  cuda_python/docs/source/release/12.8.0-notes.md
  cuda_python/docs/versions.json
Labels: documentation, cuda.bindings

#412 CI: Add a release workflow
  .github/workflows/build-docs.yml
  .github/workflows/release-upload.yml
  .github/workflows/release.yml
Labels: P0, CI/CD, to-be-backported

#418 CI: Fix release workflow
  .github/workflows/build-docs.yml
  .github/workflows/release-upload.yml
  .github/workflows/release.yml
Labels: bug, P0, CI/CD

#419 CI: Fix release workflow - cont'd
  .github/workflows/build-docs.yml
  .github/workflows/release-upload.yml
  .github/workflows/release.yml
  cuda_bindings/docs/source/release/11.8.6-notes.md
  cuda_bindings/docs/source/release/12.8.0-notes.md
  cuda_python/docs/source/release/11.8.6-notes.md
  cuda_python/docs/source/release/12.8.0-notes.md
Labels: bug, P0, CI/CD

#420 [Backport] CI: Add a release workflow
  .github/workflows/release-upload.yml
  .github/workflows/release.yml
Labels: P0, CI/CD, feature

#426 Update to use the new NVKS runners
  .github/workflows/build-docs.yml
  .github/workflows/test-wheel.yml
Labels: P0, CI/CD

#428 [Backport] Update to use NVKS runners
  .github/workflows/build-and-test.yml
Labels: P0, CI/CD

#425 Stop tracking cached files and Jupyter notebook hashes in doc builds
  cuda_bindings/docs/build_docs.sh
  cuda_bindings/docs/source/overview.md
  cuda_core/docs/build_docs.sh
  cuda_python/docs/build_docs.sh
Labels: P1, CI/CD

#422 Fix hyperlink
  cuda_python/docs/source/release/11.8.6-notes.md
Labels: bug, documentation, P1
