Repository NVIDIA/cuda-python, pull requests merged in 2025-06, with the labels that each got.

#669 Add tests to cover scalar handling in `launch()` + Fix fp16 bug
  cuda_core/cuda/core/experimental/_kernel_arg_handler.pyx
  cuda_core/docs/source/release/0.3.0-notes.rst
  cuda_core/tests/test_launcher.py
Labels: bug, P0, test, cuda.core

#648 Feature/occupancy
  cuda_core/cuda/core/experimental/__init__.py
  cuda_core/cuda/core/experimental/_launch_config.py
  cuda_core/cuda/core/experimental/_launcher.py
  cuda_core/cuda/core/experimental/_module.py
  cuda_core/docs/source/api_private.rst
  cuda_core/docs/source/release/0.3.0-notes.rst
  cuda_core/tests/test_module.py
Labels: enhancement, P0, cuda.core

#672 Migrate to `windows-2022` for Windows CI builds
  .github/workflows/build-wheel.yml
Labels: P0, CI/CD, packaging

#678 Bugfix/multiple ptxas options values
  cuda_core/cuda/core/experimental/_program.py
  cuda_core/tests/test_program.py
Labels: bug, P0, cuda.core

#676 Support cooperative launch
  cuda_core/cuda/core/experimental/_device.py
  cuda_core/cuda/core/experimental/_launch_config.py
  cuda_core/cuda/core/experimental/_launcher.py
  cuda_core/cuda/core/experimental/_utils/cuda_utils.py
  cuda_core/docs/source/release/0.3.0-notes.rst
  cuda_core/tests/conftest.py
  cuda_core/tests/test_device.py
  cuda_core/tests/test_event.py
  cuda_core/tests/test_launcher.py
Labels: P0, feature, cuda.core

#682 Allow `ObjectCode` to have a name
  cuda_core/cuda/core/experimental/_linker.py
  cuda_core/cuda/core/experimental/_module.py
  cuda_core/cuda/core/experimental/_program.py
  cuda_core/docs/source/release/0.3.0-notes.rst
  cuda_core/tests/test_linker.py
  cuda_core/tests/test_program.py
Labels: P1, feature, cuda.core

#690 Add missing `nvvmGetErrorString()` bindings.
  cuda_bindings/cuda/bindings/_internal/nvvm.pxd
  cuda_bindings/cuda/bindings/_internal/nvvm_linux.pyx
  cuda_bindings/cuda/bindings/_internal/nvvm_windows.pyx
  cuda_bindings/cuda/bindings/cynvvm.pxd
  cuda_bindings/cuda/bindings/cynvvm.pyx
  cuda_bindings/cuda/bindings/nvvm.pxd
  cuda_bindings/cuda/bindings/nvvm.pyx
  cuda_bindings/tests/test_nvvm.py
Labels: P0, feature, cuda.bindings

#687 Make compute-sanitizer not report API errors as errors
  ci/tools/setup-sanitizer
  cuda_bindings/docs/source/environment_variables.md
  cuda_bindings/tests/conftest.py
  cuda_bindings/tests/test_cuda.py
  cuda_bindings/tests/test_cudart.py
  cuda_core/tests/conftest.py
  cuda_core/tests/test_cuda_utils.py
  cuda_core/tests/test_event.py
  cuda_core/tests/test_linker.py
  cuda_core/tests/test_module.py
Labels: P0, test, cuda.bindings, cuda.core

#688 Update the notes on the CCCL and nvmath-python projects
  README.md
  cuda_python/docs/source/conf.py
  cuda_python/docs/source/index.rst
Labels: documentation, P1

#460 Switch to use CUDA driver APIs in `Device` constructor
  cuda_core/cuda/core/experimental/_device.py
  cuda_core/docs/source/release/0.3.0-notes.rst
Labels: enhancement, P1, cuda.core

#703 Bump `cuda.core` to v0.3.0
  cuda_core/cuda/core/_version.py
  cuda_core/docs/source/release/0.3.0-notes.rst
  cuda_core/docs/versions.json
Labels: P0, cuda.core

#705 Fix release workflow
  .github/workflows/release.yml
Labels: bug, P0, CI/CD

#706 Fix release workflow, again
  .github/workflows/release.yml
Labels: bug, P0, CI/CD

#717 Ensure correct handling of buffers allocated with `LegacyPinnedMemoryResource.allocate` as kernel parameters
  cuda_core/cuda/core/experimental/_kernel_arg_handler.pyx
  cuda_core/examples/memory_ops.py
  cuda_core/tests/test_launcher.py
Labels: bug, P0, cuda.core

#720 Add a "Getting Started" page to the documentation
  ci/tools/run-tests
  cuda_core/docs/source/api.rst
  cuda_core/docs/source/getting-started.md
  cuda_core/docs/source/index.rst
  cuda_core/examples/cuda_graphs.py
  cuda_core/examples/jit_lto_fractal.py
  cuda_core/examples/pytorch_example.py
  cuda_core/examples/saxpy.py
  cuda_core/examples/show_device_properties.py
  cuda_core/examples/simple_multi_gpu_example.py
  cuda_core/examples/strided_memory_view_cpu.py
  cuda_core/examples/strided_memory_view_gpu.py
  cuda_core/examples/thread_block_cluster.py
  cuda_core/examples/vector_add.py
  cuda_core/pyproject.toml
Labels: documentation, P0, cuda.core
