Repository NVIDIA/cuda-python, pull requests merged in 2025-10, with the labels that each got.

#1056 ci: replace single gating check with vanilla skipping (#1008) [no-ci]
  .github/workflows/ci.yml
Labels: enhancement, P1, CI/CD

#1020 IPC Mempool Serialization and multiprocessing Module Support
  cuda_core/cuda/core/experimental/__init__.py
  cuda_core/cuda/core/experimental/_device.py
  cuda_core/cuda/core/experimental/_memory.pyx
  cuda_core/docs/source/api.rst
  cuda_core/docs/source/api_private.rst
  cuda_core/tests/conftest.py
  cuda_core/tests/memory_ipc/test_errors.py
  cuda_core/tests/memory_ipc/test_leaks.py
  cuda_core/tests/memory_ipc/test_memory_ipc.py
  cuda_core/tests/memory_ipc/test_send_buffers.py
  cuda_core/tests/memory_ipc/test_serialize.py
  cuda_core/tests/memory_ipc/test_workerpool.py
  cuda_core/tests/memory_ipc/utility.py
  cuda_core/tests/test_ipc_mempool.py
  cuda_core/tests/test_memory.py
Labels: enhancement, P0, cuda.core

#1041 Cythonize `cuda.core`
  .github/actions/fetch_ctk/action.yml
  .github/workflows/build-wheel.yml
  .github/workflows/ci.yml
  .spdx-ignore
  ci/tools/env-vars
  ci/tools/merge_cuda_core_wheels.py
  ci/versions.json
  cuda_bindings/pyproject.toml
  cuda_core/build_hooks.py
  cuda_core/cuda/core/experimental/__init__.py
  cuda_core/cuda/core/experimental/_device.pyx
  cuda_core/cuda/core/experimental/_dlpack.pxd
  cuda_core/cuda/core/experimental/_event.pyx
  cuda_core/cuda/core/experimental/_launcher.pyx
  cuda_core/cuda/core/experimental/_stream.pxd
  cuda_core/cuda/core/experimental/_stream.pyx
  cuda_core/cuda/core/experimental/_utils/cuda_utils.pxd
  cuda_core/cuda/core/experimental/_utils/cuda_utils.pyx
  cuda_core/cuda/core/experimental/include/dlpack.h
  cuda_core/docs/source/release/0.X.Y-notes.rst
  cuda_core/pyproject.toml
  cuda_core/setup.py
Labels: enhancement, P0, CI/CD, cuda.core

#1084 Fix skipping the check for nvidia-smi
  cuda_core/build_hooks.py
Labels: bug, P0, cuda.core

#1086 [Docs]: Fix incorrect index usage in vector_add example in documentation
  cuda_core/docs/source/getting-started.rst
  cuda_core/docs/source/release/0.X.Y-notes.rst
  cuda_core/examples/simple_multi_gpu_example.py
  cuda_core/examples/vector_add.py
Labels: bug, documentation, P0, cuda.core, example

#1099 Bump `cuda.bindings` to 12.9.3
  cuda_bindings/cuda/bindings/_version.py
Labels: P0, packaging, cuda.bindings

#1098 Bump version json for `cuda-bindings`
  cuda_bindings/docs/nv-versions.json
Labels: documentation, P0, cuda.bindings

#1032 Ensure allocation stream is used for buffer deallocation if no explicit stream is provided
  cuda_core/cuda/core/experimental/_memory.pyx
Labels: P0, cuda.core, breaking

#1055 `_decide_nvjitlink_or_driver()` bug fix and enhancements [no ci]
  cuda_core/cuda/core/experimental/_linker.py
Labels: bug, P0, cuda.core

#968 [FEA]: Add a `MemoryResource` which uses CUDA VMM APIs to allocate memory
  cuda_core/cuda/core/experimental/__init__.py
  cuda_core/cuda/core/experimental/_memory.pyx
  cuda_core/cuda/core/experimental/_utils/cuda_utils.pyx
  cuda_core/docs/source/api.rst
  cuda_core/docs/source/release/0.X.Y-notes.rst
  cuda_core/tests/test_memory.py
Labels: P1, feature, cuda.core

#1094 ci: disallow prereleases to pickup 3.14.0 release instead of the RC
  .github/workflows/build-wheel.yml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
Labels: CI/CD, to-be-backported

#1105 Avoid accessing self's Python attributes in `__dealloc__`
  cuda_core/cuda/core/experimental/_memory.pyx
Labels: bug, P0, cuda.core
