Repository NVIDIA/cuda-python, pull requests merged in 2025-03, with the labels that each got.

#470 Add `ObjectCode` ptx constructor
  cuda_core/cuda/core/experimental/_module.py
  cuda_core/cuda/core/experimental/_program.py
  cuda_core/tests/test_linker.py
  cuda_core/tests/test_module.py
Labels: P0, feature, cuda.core

#423 Add error log producing test
  cuda_core/tests/test_linker.py
Labels: P1, test, cuda.core

#316 switch the launch argument order
  cuda_core/cuda/core/experimental/_launcher.py
  cuda_core/docs/source/release/0.2.0-notes.rst
  cuda_core/examples/jit_lto_fractal.py
  cuda_core/examples/saxpy.py
  cuda_core/examples/simple_multi_gpu_example.py
  cuda_core/examples/strided_memory_view.py
  cuda_core/examples/thread_block_cluster.py
  cuda_core/examples/vector_add.py
  cuda_core/tests/test_launcher.py
Labels: P0, cuda.core, breaking

#487 NEW: Create an Event without recording to Stream
  cuda_core/cuda/core/experimental/_device.py
  cuda_core/docs/source/release/0.2.0-notes.rst
  cuda_core/tests/test_device.py
Labels: P1, feature, cuda.core

#458 Clearer error messages (cuda.core)
  cuda_core/cuda/core/experimental/_context.py
  cuda_core/cuda/core/experimental/_device.py
  cuda_core/cuda/core/experimental/_event.py
  cuda_core/cuda/core/experimental/_launcher.py
  cuda_core/cuda/core/experimental/_linker.py
  cuda_core/cuda/core/experimental/_memory.py
  cuda_core/cuda/core/experimental/_memoryview.pyx
  cuda_core/cuda/core/experimental/_module.py
  cuda_core/cuda/core/experimental/_program.py
  cuda_core/cuda/core/experimental/_stream.py
  cuda_core/cuda/core/experimental/_system.py
  cuda_core/cuda/core/experimental/_utils/__init__.py
  cuda_core/cuda/core/experimental/_utils/clear_error_support.py
  cuda_core/cuda/core/experimental/_utils/cuda_utils.py
  cuda_core/tests/conftest.py
  cuda_core/tests/test_device.py
  cuda_core/tests/test_launcher.py
  cuda_core/tests/test_linker.py
  cuda_core/tests/test_memory.py
  cuda_core/tests/test_program.py
  cuda_core/tests/test_stream.py
  cuda_core/tests/test_system.py
  cuda_core/tests/test_utils.py
Labels: enhancement, P1, cuda.core

#481 Add event timing
  cuda_core/cuda/core/experimental/_event.py
  cuda_core/docs/source/release/0.2.0-notes.rst
  cuda_core/tests/test_event.py
Labels: P0, feature, cuda.core

#495 Fix merge error
  cuda_core/cuda/core/experimental/_event.py
Labels: bug, P0, cuda.core

#492 add public handle to object code
  cuda_core/cuda/core/experimental/_module.py
  cuda_core/tests/test_module.py
Labels: enhancement, P0, cuda.core

#494 Bump `cuda-core` ver to v0.2.0
  cuda_core/cuda/core/_version.py
Labels: P0, packaging, cuda.core

#498 Increase tolerance in `test_timing()` to avoid flaky tests.
  cuda_core/tests/test_event.py
Labels: P0, test, cuda.core

#497 cuda.bindings: Fix segfault when converting `char*` `NULL` to `bytes`
  cuda_bindings/cuda/bindings/driver.pyx.in
  cuda_bindings/cuda/bindings/nvrtc.pyx.in
  cuda_bindings/tests/test_cuda.py
Labels: bug, P0, cuda.bindings, to-be-backported

#502 Backport #497 and #499
  cuda_bindings/cuda/bindings/driver.pyx.in
  cuda_bindings/cuda/bindings/nvrtc.pyx.in
  cuda_bindings/tests/test_cuda.py
  cuda_bindings/tests/test_nvrtc.py
Labels: bug, P0, test, cuda.bindings

#508 Fix `test_timing` flakiness under Windows
  cuda_core/tests/test_event.py
Labels: bug, P0, test, cuda.core

#501 NEW: Add Event to public API
  cuda_core/cuda/core/experimental/__init__.py
Labels: documentation, triage, P1, cuda.core

#507 clean up device initialization in test
  cuda_core/tests/test_device.py
Labels: bug, P0, test, cuda.core

#512 Add `@functools.lru_cache` decorator for `get_binding_version()`
  cuda_core/cuda/core/experimental/_utils/cuda_utils.py
Labels: enhancement, P0, cuda.core

#516 Fix dangling pointer problem in _linker.py
  cuda_core/cuda/core/experimental/_linker.py
Labels: bug, P0, cuda.core

#514 Check for required headers before compilation
  cuda_bindings/cuda/bindings/_lib/cyruntime/cyruntime.pxd.in
  cuda_bindings/cuda/bindings/_lib/cyruntime/cyruntime.pyx.in
  cuda_bindings/docs/source/release/12.X.Y-notes.rst
  cuda_bindings/setup.py
Labels: enhancement, P1, cuda.bindings

#519 cuda.core: release notes update
  cuda_core/docs/source/release/0.2.0-notes.rst
Labels: documentation, P0, cuda.core

#523 Set release date
  cuda_core/docs/source/release/0.2.0-notes.rst
Labels: documentation, P0, cuda.core

#524 Add 0.2.0 to version selector
  cuda_core/docs/versions.json
Labels: documentation, P0, cuda.core

#503 cuda.core: `CUResult`, `cudaError` explanations
  cuda_core/cuda/core/experimental/_utils/cuda_utils.py
  cuda_core/cuda/core/experimental/_utils/driver_cu_result_explanations.py
  cuda_core/cuda/core/experimental/_utils/runtime_cuda_error_explanations.py
  cuda_core/tests/test_cuda_utils.py
  toolshed/reformat_cuda_enums_from_web_as_py.py
Labels: P0, feature, cuda.core
