Repository NVIDIA/cuda-python, pull requests merged in 2025-07, with the labels that each got.

#741 Restore option to run testing without cupy installed.
  cuda_core/tests/test_launcher.py
Labels: P1, test, cuda.core

#695 Update docs for v0.3.1 release
  cuda_core/cuda/core/_version.py
  cuda_core/cuda/core/experimental/__init__.py
  cuda_core/docs/source/api.rst
  cuda_core/docs/source/api_private.rst
  cuda_core/docs/source/release.rst
  cuda_core/docs/source/release/0.3.1-notes.rst
  cuda_core/docs/versions.json
Labels: documentation, P0, cuda.core

#723 Move `pathfinder` to cuda-python top level
  .github/workflows/build-docs.yml
  .github/workflows/build-wheel.yml
  .github/workflows/release.yml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  .pre-commit-config.yaml
  ci/tools/run-tests
  cuda_bindings/cuda/bindings/_path_finder/README.md
  cuda_bindings/cuda/bindings/_path_finder/load_dl_common.py
  cuda_bindings/cuda/bindings/_path_finder/load_dl_windows.py
  cuda_bindings/cuda/bindings/_path_finder/temporary_backward_compatibility.py
  cuda_bindings/cuda/bindings/path_finder.py
  cuda_bindings/pyproject.toml
  cuda_bindings/tests/test_path_finder_load.py
  cuda_pathfinder/LICENSE
  cuda_pathfinder/cuda/pathfinder/README.md
  cuda_pathfinder/cuda/pathfinder/__init__.py
  cuda_pathfinder/cuda/pathfinder/_dynamic_libs/find_nvidia_dynamic_lib.py
  cuda_pathfinder/cuda/pathfinder/_dynamic_libs/load_dl_common.py
  cuda_pathfinder/cuda/pathfinder/_dynamic_libs/load_dl_linux.py
  cuda_pathfinder/cuda/pathfinder/_dynamic_libs/load_dl_windows.py
  cuda_pathfinder/cuda/pathfinder/_dynamic_libs/load_nvidia_dynamic_lib.py
  cuda_pathfinder/cuda/pathfinder/_dynamic_libs/supported_nvidia_libs.py
  cuda_pathfinder/cuda/pathfinder/_utils/find_sub_dirs.py
  cuda_pathfinder/cuda/pathfinder/_version.py
  cuda_pathfinder/pyproject.toml
  cuda_pathfinder/tests/conftest.py
  cuda_pathfinder/tests/spawned_process_runner.py
  cuda_pathfinder/tests/test_load_nvidia_dynamic_lib.py
  cuda_pathfinder/tests/test_spawned_process_runner.py
  cuda_pathfinder/tests/test_utils_find_sub_dirs.py
  toolshed/build_pathfinder_dlls.py
  toolshed/build_pathfinder_sonames.py
  toolshed/run_cuda_pathfinder.py
Labels: enhancement, P0, cuda.pathfinder

#684 Add cufile bindings
  .github/actions/fetch_ctk/action.yml
  cuda_bindings/cuda/bindings/_internal/cufile.pxd
  cuda_bindings/cuda/bindings/_internal/cufile_linux.pyx
  cuda_bindings/cuda/bindings/cufile.pxd
  cuda_bindings/cuda/bindings/cufile.pyx
  cuda_bindings/cuda/bindings/cycufile.pxd
  cuda_bindings/cuda/bindings/cycufile.pyx
  cuda_bindings/docs/source/api.rst
  cuda_bindings/docs/source/conf.py
  cuda_bindings/docs/source/module/cufile.rst
  cuda_bindings/docs/source/release/12.X.Y-notes.rst
  cuda_bindings/pyproject.toml
  cuda_bindings/setup.py
  cuda_bindings/tests/test_cufile.py
Labels: P0, feature, cuda.bindings

#773 Add `get_cuda_native_handle`
  .gitignore
  cuda_bindings/cuda/bindings/utils/__init__.pxd
  cuda_bindings/cuda/bindings/utils/__init__.py
  cuda_bindings/cuda/bindings/utils/_get_handle.pyx.in
  cuda_bindings/docs/source/module/utils.rst
  cuda_bindings/docs/source/release/12.X.Y-notes.rst
  cuda_bindings/docs/source/tips_and_tricks.rst
  cuda_bindings/setup.py
  cuda_bindings/tests/test_utils.py
Labels: P1, feature, cuda.bindings

#767 [pathfinder] Fix #763 (load `libnvJitLink.so.12` from conda, not `/usr/local/cuda`)
  cuda_pathfinder/cuda/pathfinder/_dynamic_libs/load_dl_linux.py
  cuda_pathfinder/cuda/pathfinder/_dynamic_libs/load_dl_windows.py
  cuda_pathfinder/cuda/pathfinder/_dynamic_libs/load_nvidia_dynamic_lib.py
Labels: bug, P0, cuda.pathfinder

#780 _cuda_bindings_redirector.py fix (made necessary by PR #773)
  cuda_bindings/site-packages/_cuda_bindings_redirector.py
Labels: bug, P0, cuda.bindings

#774 Fix typos and grammar in documentation
  README.md
  SECURITY.md
  cuda_core/README.md
  cuda_core/docs/source/getting-started.md
Labels: documentation, enhancement, P1
